---
layout: default
pageClass: the-difference
hero:
  small-title: Dedicated to you
  title: The ScreeningOne Difference
  description: >
    Lorem ipsum dolor sit amet, elit consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
---
{% include partials/hero.html %}

<div class="key-differences">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-md-10 col-md-offset-1">
        <div class="small-title">Dedication to integrity</div>
        <h2 class="title">Who we serve</h2>
        <div class="sub-title">Lorem ipsum dolor sit amet, consectetur</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna. Ut enim
            ad minim veniam, quis nostrud.
          </p>
        </div>


        <h2 class="title">Why it matters</h2>
        <div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna. Ut enim
            ad minim veniam, quis nostrud. Lorem ipsum dolor adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna. 
          </p>
          <p>
            <a href="#" class="btn btn-primary">Get your free consultation now</a>
          </p>
        </div>
      </div>
      <div class="col-xs-24 col-md-10 col-md-offset-1">
        <div class="small-title">Personal Technology</div>
        <h2 class="title">What sets us apart</h2>
        <ul class="checklist">
          <li>Lorem ipsum dolor sit amet consectetur</li>
          <li>Dolor  lorem ipsum sit amet dolor </li>
          <li>Lorem consectetur  ipsum dolor sit amet</li>
          <li><strong>Saves you time, resources and money</strong></li>
        </ul>
        <div class="small-title">What our customers are saying</div>

        <blockquote>
          <img src="/images/testimonial.png" class="author">
          <p>
            “Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
            do incididunt ut labore et dolore magna aliqua.”
          </p>
          <footer>Christopher Cairns</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="all-in-one-solution">
  <div class="small-title">All in one solution</div>
  <h2 class="title">A comprehensive suite of screening solutions</h2>
  <div class="desc">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna.
    </p>
  </div>
  <ul class="steps">
    <li class="step-1"></li>
    <li class="step-1-link"></li>
    <li class="step-2"></li>
    <li class="step-2-link"></li>
    <li class="step-3"></li>
  </ul>

  <div class="desc">
    <p><a href="#">Take it for a FREE test drive</a></p>
  </div>
</div>

{% include partials/get-started-cta.html %}