---
layout: default
title: The Difference
pageClass: the-difference
hero:
  small-title: ACTIONABLE INSIGHT POWERING SMARTER HIRING DECISIONS.
  title: The more you know, the better you hire.
  description: >
   Screening is an underutilized facet of talent acquisition. Our services are designed to provide deeper insight into the candidates you recruit, interview, consider and hire. By knowing more, you’ll elevate your hiring success. 

---
{% include partials/hero.html %}

<div class="key-differences">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-md-10 col-md-offset-1">
        <h2 class="title">Different in the right ways</h2>
        <div class="desc">
          <p>
            We take an approach that is holistic, never piecemeal, to provide clients deeper insight for better decisions.
          </p>
          <p>
            Serving enterprises of all sizes, in the private and public sectors screening employees, volunteers and more.
          </p>
        </div>
        <h2 class="title">We understand the stakes</h2>
        <div class="desc">
          <p>
            Bad hiring decisions cost time and money, undermine performance, destroy culture and sidetrack careers.
          </p>
          <p>
          As a family-owned business we may no longer be small, but it will never be our way to act big.  We’ve built an amazing team with amazing people and by practicing what we sell. Our promise is to provide the services you need to play that high-stakes hiring game to win.
          </p>
           <p>
            <a href="{{ site.baseurl }}/contact/" class="btn btn-primary">Get your screening started now</a>
          </p>
        </div>
      </div>

      <div class="col-xs-24 col-md-10 col-md-offset-1">
        <h2 class="title">Service sets us apart</h2>
        <ul class="checklist">
          <li>Broader functionality </li>
          <li><strong>Customized choices</strong></li>
          <li>Industry-best turn-around</li>
          <li><strong>Personalized not outsourced</strong></li>
          <li>Analysts sign every report</li>
        </ul>
        <div class="small-title">What our customers are saying</div>

        <blockquote>
          <img src="{% asset_path img/testimonial-vaco.png %}" class="author">
          <p>
            "ScreeningOne has been a great tool in helping us with pre-employment screening."
          </p>
          <footer>Jami Kelley, Vaco</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="all-in-one-solution">
  <div class="small-title">All in one solution</div>
  <h2 class="title">A comprehensive suite of screening solutions</h2>
  <div class="desc">
    <p>
      An approach broader in scope, robust, full-featured, managed efficiently, fully compliant and meticulously measured. 
    </p>
    <p>
      Everything is backed by personalized service that will always be in style.
    </p>
  </div>
  <ul class="steps">
    <li class="step-1"></li>
    <li class="step-1-link"></li>
    <li class="step-2"></li>
    <li class="step-2-link"></li>
    <li class="step-3"></li>
  </ul>

  <div class="desc">
    <p><a href="{{ site.baseurl }}/contact/">Schedule a FREE demo</a></p>
  </div>
</div>

{% include partials/get-started-cta.html %}