---
layout: default
pageClass: home
hero:
  class: hero-home
  small-title: The very best in
  title: Smart Solutions for Employment Screening
  description: >
    Lorem ipsum dolor sit amet, elit consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
---

{% include partials/hero.html %}
{% include partials/accreditations.html %}

<div class="full-suite-testing-solutions">
  <div class="container">
    <div class="row header">
      <div class="col-xs-24">
        <h2 class="title">A full suite of pre-employment &amp; drug testing solutions</h2>
        <div class="desc">
          <p>From one of the most extensive networks of records sources in the industry.</p>
        </div>
      </div>
    </div>

    <div class="row lists">
      <div class="col-xs-24 col-sm-8 col-md-7 col-md-offset-2">
        <div class="featured featured-1"></div>
        <div class="title">Criminal<br>Searches</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-8 col-md-7">
        <div class="featured featured-2"></div>
        <div class="title">Verifications<br>&amp; Interviews</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-8 col-md-7">
        <div class="featured featured-3"></div>
        <div class="title">Drug<br>testing</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="row footer">
      <div class="col-xs-24">
        <div class="btn btn-primary">Get your free consultation now</div>
      </div>
    </div>
  </div>
</div>

<div class="pre-employment-screening">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-md-12">
        <div class="fingerprint"></div>
        <div class="small-title">Saves time, money and resources</div>
        <h2 class="title">Pre-employment Screening</h2>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum consectetur dolor sit amet, consectetur.
          </p>
          <p>
            <a href="#">Get your free consultation now.</a>
          </p>
        </div>
      </div>
      <div class="col-xs-24 col-md-12">
        <div class="employment-chart"></div>
      </div>
    </div>
  </div>
</div>

<div class="popular-features">
  <div class="container">
    <div class="row header">
      <div class="col-xs-24">
        <h2 class="title">Popular features our users love</h2>
        <div class="desc"><p>
          Lorem ipsum dolor sit amet, consectetur
        </p></div>
      </div>
    </div>

    <div class="row lists">
      <div class="col-xs-24 col-sm-10 col-sm-offset-4">
        <div class="featured featured-1"></div>
        <div class="title">Custom screening packages</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore. 
          </p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-10">
        <div class="featured featured-2"></div>
        <div class="title">High volume capability</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore. 
          </p>
        </div>
      </div>
      <div class="clearfix hidden-xs"></div>
      <div class="col-xs-24 col-sm-10 col-sm-offset-4">
        <div class="featured featured-3"></div>
        <div class="title">Dedicated account team</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore. 
          </p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-10">
        <div class="featured featured-4"></div>
        <div class="title">Custom reporting</div>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/request-callback.html %}

<div class="social-feedback">
  <div class="small-title">Social Feedback</div>
  <h2 class="title">Read why our users rely on our screening solutions</h2>
  <div class="desc">
    <p>Everyday, ScreeningOne helps businesses make the right choices</p>
  </div>

  <ul class="tweets">
    <li class="selected">
      <blockquote class="twitter-tweet" data-lang="en">
        <p lang="en" dir="ltr">
          Lawmakers aren&#39;t as intelligent as programmers.
        </p>&mdash; Shit HN Says (@shit_hn_says)
        <a href="https://twitter.com/shit_hn_says/status/484343231552176128">July 2, 2014</a>
      </blockquote>
    </li>
    <li>
      <blockquote class="twitter-tweet" data-lang="en">
        <p lang="en" dir="ltr">
          Lawmakers aren&#39;t as intelligent as programmers.
        </p>&mdash; Shit HN Says (@shit_hn_says)
        <a href="https://twitter.com/shit_hn_says/status/484343231552176128">July 2, 2014</a>
      </blockquote>
    </li>
    <li>
      <blockquote class="twitter-tweet" data-lang="en">
        <p lang="en" dir="ltr">
          Lawmakers aren&#39;t as intelligent as programmers.
        </p>&mdash; Shit HN Says (@shit_hn_says)
        <a href="https://twitter.com/shit_hn_says/status/484343231552176128">July 2, 2014</a>
      </blockquote>
    </li>
  </ul>
</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>