---
layout: default
pageClass: home
hero:
  small-title: SUPERIOR, PROVEN, COMPLIANT SCREENING SOLUTIONS
  title: Screen Better &amp;<br> Hire Smarter
  description: >
    Nothing costs more than a bad hire.

---

{% include partials/hero.html %}
{% include partials/accreditations.html %}

<div class="full-suite-testing-solutions">
  <div class="container">
    <div class="row header">
      <div class="col-xs-24">
        <h2 class="title">Screening services can vary dramatically, but it's our approach that sets us apart.</h2>
        <div class="desc">
          <p>We're committed to your long-term success, a trusted partner that’s in it for the long haul.
</p>
        </div>
      </div>
    </div>

    <div class="row lists">
      <div class="col-xs-24 col-sm-8 col-md-7 col-md-offset-2">
        <div class="featured featured-1"></div>
        <div class="title">Background<br>Checks</div>
        <div class="desc">
          <p>
            Every background check is 100% compliant &amp; completed by our staff in-house. Responsive, 
            dedicated pros that really care and prove it by signing their name on each report they touch.

          </p>
          <p><a href="{{ site.baseurl }}/pre-employment-screening/">Learn more</a></p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-8 col-md-7">
        <div class="featured featured-2"></div>
        <div class="title">Verifications</div>
        <div class="desc">
          <p>
            We handle education and job verifications via telephone to confirm the accuracy of an applicant’s information. Assurance at every step.
          </p>
          <p><a href="{{ site.baseurl }}/how-it-works/">Learn more</a></p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-8 col-md-7">
        <div class="featured featured-3"></div>
        <div class="title">Drug<br>testing</div>
        <div class="desc">
          <p>
            Identify addiction issues before they become organizational problems. Implement ongoing screening, with chain of custody, to decrease downtime, absenteeism and more.

          </p>
          <p><a href="{{ site.baseurl }}/how-it-works/">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="row footer">
      <div class="col-xs-24">
        <a href="{{ site.baseurl }}/contact/" class="btn btn-primary">Get your free consultation now</a>
      </div>
    </div>
  </div>
</div>

{% capture screenshot-feature-content %}
  <div class="fingerprint"></div>
  <div class="small-title"></div>
  <h2 class="title">A bad hire is costly.</h2>
  <div class="desc">
    <p>
      The loss of time and dollars is just the beginning. 
      Bad hires and the wrong volunteers erode you customer relationships, 
      threaten productivity, undermine culture and undo your good work.
    </p>
    <p>
      For businesses of all sizes, private, public or 
      non-profit, pre-employment screening is the key
      to a safer, more secure workplace that sustains
      growth, optimizes opportunity and fosters good talent.
    </p>
    <p>
      <a href="{{ site.baseurl }}/contact/">Get your free consultation now.</a>
    </p>
  </div>
{% endcapture %}
{% assign screenshot-feauture-class = 'screenshot-pre-employment-screening' %}

{% include partials/screenshot-feature.html %}

<div class="popular-features">
  <div class="container">
    <div class="row header">
      <div class="col-xs-24">
        <h2 class="title">Global Capacity – Personal Service</h2>
        <div class="desc"><p>
          Big enough to do it all, small enough to do it better.
        </p></div>
      </div>
    </div>

    <div class="row lists">
      <div class="col-xs-24 col-sm-10 col-sm-offset-2">
        <div class="featured featured-1"></div>
        <div class="title">Custom screening packages</div>
        <div class="desc">
          <p>
            Our priority is to give you precisely what you need – never a preconceived product that fails to meet your needs
          </p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-10">
        <div class="featured featured-2"></div>
        <div class="title">Nothing is Out-Sourced – Ever.</div>
        <div class="desc">
          <p>
          Every background check is completed by our staff in-house. Every step of the way, a fully compliant process.
          </p>
        </div>
      </div>
      <div class="clearfix hidden-xs"></div>
      <div class="col-xs-24 col-sm-10 col-sm-offset-2">
        <div class="featured featured-3"></div>
        <div class="title">One-to-One Customer Service</div>
        <div class="desc">
          <p>
            You’ll see the difference in the very first phone call that's answered by a live friendly voice.
          </p>
        </div>
      </div>
      <div class="col-xs-24 col-sm-10">
        <div class="featured featured-4"></div>
        <div class="title">Custom reporting</div>
        <div class="desc">
          <p>
            Reports summarizing our pre-employment screening, testing and applicant tracking services are rich with data.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/color-strip.html %}

<div class="social-feedback">
  <div class="small-title">Social Feedback</div>
  <h2 class="title">Read what our fans have to say</h2>
  <div class="desc">
    <p>Everyday, ScreeningOne helps businesses make the right choices</p>
  </div>
  
  <div class="tweet-gallery">
    <div class="tweet-control">
      <div class="move-left hide-arrow"></div>
      <div class="move-right hide-arrow"></div>
    </div>

    <ul class="tweets">
      <li>
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            Thank you @screeningONE for sponsoring our chapter meeting this month! We love our sponsors!
          </p>&mdash; HR Tampa (@HRTampa)
          <a href="https://twitter.com/HRTampa/status/568191895240871936">Feb 18, 2015</a>
        </blockquote>
      </li>
      <li>
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            Wonderfully fun dinner last night w/ Trish from @screeningONE following the #SHRMTalent conference. Great to catch up!
          </p>&mdash; Jacki Ritsema Kintz (@JackiKintz)
          <a href="https://twitter.com/JackiKintz/status/461492011267145728">April 30, 2014</a>
        </blockquote>
      </li>
      <li>
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">
            Huge kudos to @ScreeningOne for their awesome service.
          </p>&mdash; Branded Crate (@brandedcrate)
          <a href="https://twitter.com/BrandedCrate/status/707698281443303424">March 9, 2016</a>
        </blockquote>
      </li>
    </ul>
  </div>
</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="testimonials">
  <h2 class="title">What ScreeningOne Clients Say</h2>
  <ul class="users">
    <li></li>
    <li></li>
  </ul>

  <hr>
  
  <div class="slider-wrapper">
    <div class="slider-control">
      <div class="move-left hide-arrow"></div>
      <div class="move-right hide-arrow"></div>
    </div>
    <ul class="slider">
      <li>
        <div class="name"><a href="https://www.macu.com/">Damon Vitangeli</a></div>
        <div class="job">Mountain America Credit Union</div>
        <div class="desc"><p>
          "The level of service we receive from ScreeningOne is second to none. They really take the time to understand 
          our workflow and suggest ways to make us more efficient. They are willing to work with us on our specific developmental 
          needs to make their product fits our business, not the other way around.  Their response time to our inquires is so fast 
          that sometimes I feel like we are their only client!" 

        </p></div>
      </li>
      <li>
        <div class="name"><a href="https://www.frgi.com">Angie Figueredo</a></div>
        <div class="job">Fiesta Restaurant Group</div>
        <div class="desc"><p>
          "Working with them has been a pleasure.  Our industry is very fast paced and it’s important that our applicants experience a seamless process.  They've provided a very easy and streamlined apply and hiring process for us.  The level of customer service is exceptional.  I can always call or email my representative and know that I will get an answer quickly."

        </p></div>
      </li>
    </ul>
  </div>
</div>

{% include partials/ready-cta.html %}