---
layout: default
pageClass: pre-employment-screening
hero:
  small-title: Solution
  title: Pre-employment Screening
  description: >
    Lorem ipsum dolor sit amet, elit consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
---

{% include partials/hero.html %}

<div class="pre-employment-screening-features">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-md-7 col-md-push-9">
        <div class="feature feature-2">
          <div class="small-title">Robust pre-screening analytics</div>
          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-1 col-md-pull-7">
        <div class="feature feature-1">
          <div class="small-title">Smart filter applicants</div>
          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="feature feature-3">
          <div class="small-title">large or small business</div>
          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor incididunt ut labore et.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pre-employment-screening-benefits">
  <div class="container">
    <div class="row">
      <div class="col-xs-24">
        <div class="small-title">Dedication to integrity</div>
        <h2 class="title">Benefits of pre-employment screening</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-md-9 col-md-offset-2">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
        </ul>
      </div>
      <div class="col-xs-24 col-md-9 col-md-offset-3">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
          <li>Lorem ipsum dolor sit amet, consectetur</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="rio-calculator-cta">
  <div class="container">
    <div class="row">
      <div class="col-xs-24">
        <div class="small-title">Rio Calculator</div>
        <h2 class="title">What would your RIO be with ScreeningOne?</h2>
        <div class="desc">
          <p>
            Lorem i psum dolor sit consectetur adipisicing elit sed do incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud execitation.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-md-11 col-md-offset-2">
        <img src="/images/roi-calculator-cta.png" class="img-responsive">
      </div>
      <div class="col-xs-24 col-md-9">
        <div class="number-of-employees">
          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
              do eiusmod tempor
            </p>
          </div>
          <form>
            <label for="num-employee-per-month" class="small-title">
              How many employees are you onboarding?
            </label>
            <input type="text" id="num-employee-per-month" placeholder="# per month">
            <button class="btn btn-primary">See your ROI</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24">
        <div class="desc">
          <p>See how other people benefit from Pre Employment Screening.</p>
          <p><a href="#">Read a sample case study</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/accreditations.html %}
{% include partials/ready-cta.html %}