---
layout: default
title: Pre-employment Screening
pageClass: pre-employment-screening
hero:
  small-title: SMARTER PRE-EMPLOYMENT SCREENING
  title: Deeper Information to Hire Better.
  description: >
    Our proactive approach provides all that you expect. Then we go farther to give you more to hire smarter.

---

{% include partials/hero.html %}

<div class="pre-employment-screening-features">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-md-8 col-md-push-8">
        <div class="feature feature-2">
          <div class="small-title">Confirmation</div>
          <div class="desc">
            <p>
              To know what an applicant claims is factual and true.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-2 col-md-pull-8">
        <div class="feature feature-1">
          <div class="small-title">Documentation</div>
          <div class="desc">
            <p>
              Robust credit and criminal background checks issues.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="feature feature-3">
          <div class="small-title">Hiring Confidence</div>
          <div class="desc">
            <p>
              By identifying critical issues sooner rather than later.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pre-employment-screening-benefits">
  <div class="container">
    <div class="row">
      <div class="col-xs-24">
        <div class="small-title">Dedicated to you</div>
        <h2 class="title">Common Sense Benefits – Tangible ROI</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-md-9 col-md-offset-2">
        <ul>
          <li>Elevate the quality of every new hire</li>
          <li>Improved security and safety</li>
          <li>Improved retention of talent</li>
        </ul>
      </div>
      <div class="col-xs-24 col-md-9 col-md-offset-2">
        <ul>
          <li>Enhanced Regulatory Compliance</li>
          <li>Reduced risks from negligent hiring</li>
          <li>Reduced substance and alcohol abuse</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="rio-calculator-cta">
  <div class="container">
    <div class="row">
      <div class="col-xs-24">
        <div class="small-title">Better Screening Drives a Healthier Bottom Line</div>
        <h2 class="title">What would your ROI be with ScreeningOne?</h2>
        <div class="desc">
          <p>
          From the U.S. Small Business Administration to the U.S. Department of Commerce, there is general agreement that every dollar invested in employment screening pays great benefits: Increased productivity, reduced absenteeism, lower turnover, less theft and embezzlement and decreased employer liability. 
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-md-11 col-md-offset-2">
        <img src="{% asset_path img/roi-calculator-cta.png %}" class="img-responsive">
      </div>
      <div class="col-xs-24 col-md-9">
        <div class="number-of-employees">
          <div class="desc">
            <p>
              ScreeningOne clients see a return on investment of up to 900%.
            </p>
            <p>
              ROI is estimated at $10 for every dollar invested.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/accreditations.html %}
{% include partials/ready-cta.html %}