---
layout: default
title: Contact
pageClass: contact
interestedInOptions:
  - Applicant Tracking
  - Video Interviews
  - Background Screening
  - Drug Screening
  - Demo
---

<div class="contact-container">
  <div class="container">
    <script>
      if (location.search === '?success=true') {
        document.write('<div class="row">');
        document.write('<div class="col-xs-24">');
        document.write('<div class="alert alert-success" role="alert">');
        document.write('Thanks for contacting us. We\'ll be in touch.');
        document.write('</div>');
        document.write('</div>');
        document.write('</div>');
      }
    </script>
    <div class="row">
      <div class="col-xs-24">
        <h2 class="title">Contact Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-md-18">
        <form class="contact-form" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
          <input type=hidden name="oid" value="00D500000007IlS">
          <script>
          var address = location.href.slice(0, location.href.indexOf(location.pathname));
          document.write('<input type="hidden" name="retURL" value="' + address + '{{ site.baseurl }}/contact/?success=true">');
          </script>
          <!-- <input type="hidden" name="debug" value="1">-->
          <!-- <input type="hidden" name="debugEmail" value="test@screeningone.com"> -->
          <!-- <input  id="state" maxlength="20" name="state" size="20" type="text" />  -->

          <div class="row form-header">
            <div class="col-xs-24">
              <label>Your details</label>
            </div>
          </div>
          <div class="row form-textbox">
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-firstname" placeholder="Jane" name="first_name" maxlength="40">
                <label for="form-firstname">First</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-lastname" placeholder="Doe" name="last_name" maxlength="40">
                <label for="form-lastname">Last</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-company" placeholder="ScreeningOne" name="company" maxlength="40">
                <label for="form-company">Company Name</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-city" placeholder="Los Angeles" name="city" maxlength="40">
                <label for="form-city">City</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="tel" id="form-phone" placeholder="(000) 000-0000" name="phone" maxlength="40">
                <label for="form-phone">Phone number</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="email" id="form-email" placeholder="example@mail.com" name="email" maxlength="80">
                <label for="form-email">Email address</label>
              </div>
            </div>
          </div>

          <div class="row form-checkbox">
            <div class="col-xs-24">
              <label>I'm Interseted In:</label>
              {% for interest in page.interestedInOptions %}
              <div class="form-checkbox-wrap">
                <input type="checkbox" id="form-interested-in-{{ forloop.index }}" name="00N50000003V4JK" value="{{ interest }}">
                <label for="form-interested-in-{{ forloop.index }}">{{ interest }}</label>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="row form-textarea">
            <div class="col-xs-24">
              <textarea rows="7" placeholder="Question or comments..." name="00N50000003V4JP" maxlength="255"></textarea>
            </div>
          </div>

          <div class="row form-footer">
            <div class="col-xs-24 col-sm-14 col-md-15 col-lg-12">
              <label for="form-how-hear">How did you hear about us?</label>
              <div class="form-select-wrap">
                <select id="form-how-hear" name="lead_source">
                  <option value="">No Selection</option><option value="700credit">700credit</option>
                  <option value="Account Intelligence">Account Intelligence</option>
                  <option value="ApplicantONE Launch Email Campaign">ApplicantONE Launch Email Campaign</option>
                  <option value="Arizona Multihousing Conference 2007">Arizona Multihousing Conference 2007</option>
                  <option value="ASA 2007">ASA 2007</option>
                  <option value="ASHHRA 2010">ASHHRA 2010</option>
                  <option value="Association of Legal Administrators 2014">Association of Legal Administrators 2014</option>
                  <option value="Austin Computing">Austin Computing</option>
                  <option value="AYP Conference FL 2014">AYP Conference FL 2014</option>
                  <option value="Client Referral Program">Client Referral Program</option>
                  <option value="Cold Call">Cold Call</option>
                  <option value="Convergence">Convergence</option>
                  <option value="Current Customer">Current Customer</option>
                  <option value="Customer Referral">Customer Referral</option>
                  <option value="CVTA 2007 Spring Conf.">CVTA 2007 Spring Conf.</option>
                  <option value="CVTA 2014">CVTA 2014</option>
                  <option value="CVTA Membership">CVTA Membership</option>
                  <option value="Email Blast">Email Blast</option>
                  <option value="Employee Referral">Employee Referral</option>
                  <option value="Employers Group">Employers Group</option>
                  <option value="Facticon">Facticon</option>
                  <option value="Hoovers">Hoovers</option>
                  <option value="HotlinkHR">HotlinkHR</option>
                  <option value="HR Florida 2007">HR Florida 2007</option>
                  <option value="In-Bound Phone Call">In-Bound Phone Call</option>
                  <option value="Industry Target">Industry Target</option>
                  <option value="Logos">Logos</option>
                  <option value="Mailing">Mailing</option>
                  <option value="Mosaic Interactive, LLC">Mosaic Interactive, LLC</option>
                  <option value="MoveFrog">MoveFrog</option>
                  <option value="NAA Conference 2007">NAA Conference 2007</option>
                  <option value="NARPM 2007">NARPM 2007</option>
                  <option value="NARPM Membership">NARPM Membership</option>
                  <option value="National Safe Environment Conference">National Safe Environment Conference</option>
                  <option value="Neighborscreen">Neighborscreen</option>
                  <option value="New Client Promotion">New Client Promotion</option>
                  <option value="Newspaper/Advertisement">Newspaper/Advertisement</option>
                  <option value="Omnia Group">Omnia Group</option>
                  <option value="Omni Group">Omni Group</option>
                  <option value="Pathfinder">Pathfinder</option>
                  <option value="PayLease">PayLease</option>
                  <option value="Postcard 2008">Postcard 2008</option>
                  <option value="Raindance Partners">Raindance Partners</option>
                  <option value="Recruiting Trends 2014">Recruiting Trends 2014</option>
                  <option value="RentTrack">RentTrack</option>
                  <option value="Research">Research</option>
                  <option value="Reynolds &amp; Reynolds">Reynolds &amp; Reynolds</option>
                  <option value="RFP">RFP</option>
                  <option value="Ropella">Ropella</option>
                  <option value="Safe Environment Conference 2014">Safe Environment Conference 2014</option>
                  <option value="Seminar">Seminar</option>
                  <option value="SHRM">SHRM</option>
                  <option value="SHRM 2012">SHRM 2012</option>
                  <option value="SHRM 2013">SHRM 2013</option>
                  <option value="SHRM 2014">SHRM 2014</option>
                  <option value="SHRM Staffing Management Conference 2007">SHRM Staffing Management Conference 2007</option>
                  <option value="SHRM Talent Conference 2015">SHRM Talent Conference 2015</option>
                  <option value="SHRM Talent Management Conference 2014">SHRM Talent Management Conference 2014</option>
                  <option value="Trade Show">Trade Show</option>
                  <option value="VA Motor Vehicle Dealer Board">VA Motor Vehicle Dealer Board</option>
                  <option value="VAOA">VAOA</option>
                  <option value="Verifications">Verifications</option>
                  <option value="Website">Website</option>
                  <option value="YMCA HR Forum 2014">YMCA HR Forum 2014</option>
                </select>
              </div>
            </div>
            <div class="col-xs-24 col-sm-10 col-md-9 col-lg-12">
              <input type="submit" class="btn btn-primary" value="Send Message">
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-24 col-md-6">
        <div class="call-sales">
          <div class="header">Call sales 888.327.6511</div>
          <ul class="content">
            <li>
              <strong>Support weekdays</strong>
              <div>8 a.m. to 8 p.m. EST</div>
              <div>(5 a.m. to 5 p.m. PST)</div>
            </li>

            <li>
              <strong>Fax (both locations):</strong>
              <strong>888.216.1003</strong>
            </li>

            <li class="clearfix hidden-md hidden-lg"></li>

            <li>
              <strong>East Coast Office:</strong>
              <div>1860 N. Avenida Republica de Cuba,</div>
              <div>Tampa, FL 33605</div>
            </li>

            <li>
              <strong>West Coast Office:</strong>
              <div>2233 W. 190th Street</div>
              <div>Torrance, CA 90504</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/accreditations.html %}
