---
layout: default
title: Contact
pageClass: contact
interestedInOptions:
  - Applicant Tracking
  - Video Interviews
  - Background Screening
  - Drug Screening
  - Demo
  - Forgot Password
---

<div class="contact-container">
  <div class="container">
    <script>
      if (location.search === '?success=true') {
        document.write('<div class="row">');
        document.write('<div class="col-xs-24">');
        document.write('<div class="alert alert-success" role="alert">');
        document.write('Thanks for contacting us. We\'ll be in touch.');
        document.write('</div>');
        document.write('</div>');
        document.write('</div>');
      }
    </script>
    <div class="row">
      <div class="col-xs-24">
        <h2 class="title">Contact Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-md-18">
        <form class="contact-form" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
          <input type=hidden name="oid" value="00D500000007IlS">
          <script>
          var address = location.href.slice(0, location.href.indexOf(location.pathname));
          document.write('<input type="hidden" name="retURL" value="' + address + '{{ site.baseurl }}/contact/?success=true">');
          </script>
          <!-- <input type="hidden" name="debug" value="1">-->
          <!-- <input type="hidden" name="debugEmail" value="test@screeningone.com"> -->
          <!-- <input  id="state" maxlength="20" name="state" size="20" type="text" />  -->

          <div class="row form-header">
            <div class="col-xs-24">
              <label>Your details</label>
            </div>
          </div>
          <div class="row form-textbox">
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-firstname" placeholder="Jane" name="first_name" maxlength="40">
                <label for="form-firstname">First</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-lastname" placeholder="Doe" name="last_name" maxlength="40">
                <label for="form-lastname">Last</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-company" placeholder="ScreeningOne" name="company" maxlength="40">
                <label for="form-company">Company Name</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="text" id="form-city" placeholder="Los Angeles" name="city" maxlength="40">
                <label for="form-city">City</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="tel" id="form-phone" placeholder="(000) 000-0000" name="phone" maxlength="40">
                <label for="form-phone">Phone number</label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="form-textbox-wrap">
                <input type="email" id="form-email" placeholder="example@mail.com" name="email" maxlength="80">
                <label for="form-email">Email address</label>
              </div>
            </div>
          </div>

          <div class="row form-checkbox">
            <div class="col-xs-24">
              <label>I'm Interseted In:</label>
              {% for interest in page.interestedInOptions %}
              <div class="form-checkbox-wrap">
                <input type="checkbox" id="form-interested-in-{{ forloop.index }}" name="00N50000003V4JK" value="{{ interest }}">
                <label for="form-interested-in-{{ forloop.index }}">{{ interest }}</label>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="row form-textarea">
            <div class="col-xs-24">
              <textarea rows="7" placeholder="Question or comments..." name="00N50000003V4JP" maxlength="255"></textarea>
            </div>
          </div>

          <div class="row form-footer">
            <div class="col-xs-24 col-sm-14 col-md-15 col-lg-12">
              <label for="form-how-hear">How did you hear about us?</label>
              <div class="form-select-wrap">
                <select id="form-how-hear" name="lead_source">
                  <option value="">No Selection</option>
                  <option value="Customer Referral">Customer Referral</option>
                  <option value="Employee Referral">Employee Referral</option>
                  <option value="Employers Group">Employers Group</option>
                  <option value="Hoovers">Hoovers</option>
                  <option value="Mailing">Mailing</option>
                  <option value="Newspaper/Advertisement">Newspaper/Advertisement</option>
                  <option value="RentTrack">RentTrack</option>
                  <option value="Research">Research</option>
                  <option value="Seminar">Seminar</option>
                  <option value="Trade Show">Trade Show</option>
                  <option value="Website">Website</option>
                </select>
              </div>
            </div>
            <div class="col-xs-24 col-sm-10 col-md-9 col-lg-12">
              <input type="submit" class="btn btn-primary" value="Send Message">
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-24 col-md-6">
        <div class="call-sales">
          <div class="header">Call sales 888.327.6511</div>
          <ul class="content">
            <li>
              <strong>Support weekdays</strong>
              <div>8 a.m. to 8 p.m. EST</div>
              <div>(5 a.m. to 5 p.m. PST)</div>
            </li>

            <li>
              <strong>Fax (both locations):</strong>
              <strong>888.216.1003</strong>
            </li>

            <li class="clearfix hidden-md hidden-lg"></li>

            <li>
              <strong>East Coast Office:</strong>
              <div>1860 N. Avenida Republica de Cuba,</div>
              <div>Tampa, FL 33605</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/accreditations.html %}
