---
layout: default
title: Sitemap
pageClass: sitemap
hero:
  small-title: screeningone
  title: Sitemap
  description: >
    Lorem ipsum dolor sit amet, elit consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
---
{% include partials/hero.html %}

<div class="containe sitemap-container">
  <div class="row">
    <div class="col-xs-24 col-md-10 col-md-offset-2">
      <div class="row links">
        <div class="col-xs-12">
          <h2 class="title">Solutions</h2>
          <a href="{{ site.baseurl }}/how-it-works/">How it works</a>
          <a href="{{ site.baseurl }}/pre-employment-screening/">Pre Employment Screening</a>
          <a href="{{ site.baseurl }}/drug-testing/">Drug Testing</a>
          <a href="{{ site.baseurl }}/applicant-tracking/">Application Tracking</a>
          <a href="{{ site.baseurl }}/sample-report/">Sample Report</a>
        </div>
        <div class="col-xs-12">
          <h2 class="title">Company</h2>
          <a href="{{ site.baseurl }}/faqs/">FAQs</a>
          <a href="{{ site.baseurl }}/team/">Team</a>
          <a href="{{ site.baseurl }}/contact/">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="col-xs-24 col-md-10">
      {% include partials/get-started-cta-square-only.html %}
    </div>
  </div>
</div>