<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-sm-11 col-md-6">
        <div class="logo"></div>
        <div class="description">
          <p>
            <strong>ScreeningOne</strong> offers a
            comprehensive suite of screening
            solutions and we have one of the
            most extensive networks of record
            sources in the industry.
          </p>
        </div>
        <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a>
        <div class="copyright">&copy; ScreeningOne 2016</div>
      </div>
      <div class="col-xs-24 col-sm-11 col-sm-offset-2 col-md-6 col-md-offset-1">
        <h2>Solutions</h2>
        <a href="{{ site.baseurl }}/how-it-works/">How it works</a>
        <a href="{{ site.baseurl }}/pre-employment-screening/">Pre Employment Screening</a>
        <a href="{{ site.baseurl }}/drug-testing/">Drug Testing</a>
        <a href="{{ site.baseurl }}/applicant-tracking/">Application Tracking</a>
        <a href="{{ site.baseurl }}/sample-report/">Sample Report</a>
      </div>
      <div class="col-xs-24 col-sm-11 col-md-4">
        <h2>Company</h2>
        <a href="{{ site.baseurl }}/faqs/">FAQs</a>
        <a href="{{ site.baseurl }}/team/">Team</a>
        <a href="{{ site.baseurl }}/sitemap/">Sitemap</a>
        <a href="{{ site.baseurl }}/contact/">Contact Us</a>
        <a href="https://www.screeningone.com/Account/LogOn?portal=admin&ReturnURL=%2f&ClientID=">Billing Login</a>
      </div>
      <div class="col-xs-24 col-sm-11 col-sm-offset-2 col-md-7 col-md-offset-0">
        <h2>Resources</h2>
        <p>One simple PDF to share with your team:</p>
        <a href="{{ site.baseurl }}/resources/report/sample-report.pdf">Download ScreeningOne Overview</a>
        <a href="{{ site.baseurl }}/resources/">More Downloadable Resources</a>
        <hr>
        <div class="call-us"><strong>Call Us Now: 888.327.6511</strong></div>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% javascript app async %}