<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-sm-11 col-md-6">
        <div class="logo"></div>
        <div class="description">
          <p>
            <strong>ScreeningOne</strong> offers a
            comprehensive suite of screening
            solutions and we have one of the
            most extensive networks of record
            sources in the industry.
          </p>
        </div>
        <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a>
        <a href="{{ site.baseurl }}/sitemap/">Sitemap</a>
        <div class="copyright">&copy; ScreeningOne 2016</div>
      </div>
      <div class="col-xs-24 col-sm-11 col-sm-offset-2 col-md-6 col-md-offset-1">
        <h2>Solutions</h2>
        <a href="{{ site.baseurl }}/how-it-works/">How it works</a>
        <a href="{{ site.baseurl }}/pre-employment-screening/">Pre Employment Screening</a>
        <a href="{{ site.baseurl }}/drug-testing/">Drug Testing</a>
        <a href="{{ site.baseurl }}/applicant-tracking/">Application Tracking</a>
        <a href="{{ site.baseurl }}/sample-report/">Sample Report</a>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-xs-24 col-sm-11 col-md-4">
        <h2>Company</h2>
        <a href="{{ site.baseurl }}/team/">Team</a>
        <a href="{{ site.baseurl }}/careers/">Careers</a>
        <a href="{{ site.baseurl }}/contact/">Contact Us</a>
        <a href="https://www.screeningone.com/Account/LogOn?portal=admin&ReturnURL=%2f&ClientID=">Billing Login</a>
      </div>
      <div class="col-xs-24 col-sm-11 col-sm-offset-2 col-md-7 col-md-offset-0">
        <h2>Resources</h2>
        <p>One simple PDF to share with your team:</p>
        <a href="{{ site.baseurl }}/resources/pdf/ScreeningOneOverview.pdf">Download ScreeningOne Overview</a>
        <a href="{{ site.baseurl }}/resources/">More Downloadable Resources</a>
        <hr>
        <div class="call-us"><strong>Call Us Now: 888.327.6511</strong><a href="http://www.bbb.org/west-florida/business-reviews/background-screening-services/screening-one-in-tampa-fl-90078037#bbbseal"><img src="{% asset_path img/bbb.png %}"></a></div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
piAId = '167622';
piCId = '1094';
 
(function() {
function async_load(){
var s = document.createElement('script'); s.type = 'text/javascript';
s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
}
if(window.attachEvent) { window.attachEvent('onload', async_load); }
else { window.addEventListener('load', async_load, false); }
})();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
//<![CDATA[
(function() {
var _analytics_scr = document.createElement('script');
_analytics_scr.type = 'text/javascript'; _analytics_scr.async = true; _analytics_scr.src = '/_Incapsula_Resource?SWJIYLWA=2977d8d74f63d7f8fedbea018b7a1d05&ns=1';
var _analytics_elem = document.getElementsByTagName('script')[0]; _analytics_elem.parentNode.insertBefore(_analytics_scr, _analytics_elem);
})();
// ]]>
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21089388-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NS5PHS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NS5PHS');</script>
<!-- End Google Tag Manager -->
{% javascript app async %}
