
@import "bootstrap/variables", "bootstrap/mixins";

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-base: $font-family-sans-serif;
$brand-primary: #8f4db6;
$grid-float-breakpoint: 1080px;
$icon-sprite: "../images/icons.png";
$grid-columns: 24;

$navbar-height: 100px;
$navbar-default-bg: #fff;
$navbar-default-color: #5d6166;
$navbar-default-link-color: $navbar-default-color;
$navbar-padding-vertical: 0;
$navbar-default-link-active-bg: $navbar-default-bg;

$btn-font-weight: 700;
$btn-default-color: $brand-primary;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-border-radius-base: 20px;

$footer-color: #404950;

@mixin font-size($font-size) {
  font-size: $font-size;
  line-height: floor(($font-size * $line-height-base));
}

@import
  "bootstrap"
;

@import
  "layout/header",
  "layout/footer",
  "layout/layout"
;

@import
  "partials/hero",
  "partials/accreditations",
  "partials/color-strip",
  "partials/request-callback",
  "partials/ready-cta",
  "partials/screenshot-feature",
  "partials/get-started-cta-square",
  "partials/get-started-cta"
;

@import
  "page/home",
  "page/how-it-works",
  "page/the-difference"
;