---
layout: default
title: Compliance Corner
pageClass: compliance-corner
hero:
  small-title: Legal
  title: Compliance Corner
  description: >
    Lorem ipsum dolor sit amet, elit consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

---

{% include partials/hero.html %}

<div class="sample-compliance">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-md-14">
        <div class="small-title">Stay current and legal</div>
        <h2 class="title">Latest Compliance</h2>
        <div class="compliance-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum magna magna, et ornare eros congue in. Fusce et turpis vitae urna vestibulum cursus. Cras varius justo et lorem fringilla, vitae imperdiet neque tempor. Nulla facilisi. Nunc commodo sem at faucibus luctus. Aliquam erat augue, consequat sit amet rhoncus ac, pulvinar sed mi. Fusce interdum pretium ipsum, id consectetur risus tristique sed. Nam pretium nulla at ex egestas, ac feugiat mauris porttitor. Aenean congue quam blandit quam egestas tincidunt. Vivamus eros mi, maximus vitae faucibus id, volutpat sed urna. Duis gravida, tellus vel imperdiet volutpat, ligula augue pulvinar justo, a vulputate massa urna nec ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis euismod vel dolor in sagittis.
          </p>

          <p>
            Nam maximus accumsan venenatis. Morbi quis arcu sit amet diam ultrices dapibus viverra venenatis elit. Curabitur id eros ac nisi hendrerit semper id eget tortor. Sed dictum, tortor ac sollicitudin tincidunt, turpis turpis vestibulum lorem, id molestie odio nisl ut risus. Maecenas at lorem molestie, venenatis risus et, dapibus arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eu orci ut orci tincidunt blandit id et odio. Phasellus vel aliquam diam.
          </p>
        </div>

        <div class="read-latest">
          <p>Read the latest compliance document</p>
          <a href="#" class="btn btn-block btn-default">Download Compliance report now</a>
        </div>
      </div>

      <div class="col-xs-24 col-md-9 col-md-offset-1">
        <div class="regular-updates">
          <div class="title">Regular updates</div>
          <div class="regular-updates-header">
            <p>Staying up-to-date with the <strong>latest compliance requirements</strong></p>
          </div>
          <form>
            <div class="form-textbox-wrap">
              <input type="email" id="form-email" placeholder="example@mail.com" name="email" maxlength="80">
              <label for="form-email">Email address</label>
            </div>
            <div class="form-textbox-wrap">
              <input type="tel" id="form-phone" placeholder="(000) 000-0000" name="phone" maxlength="40">
              <label for="form-phone">Phone number</label>
            </div>
            <button class="btn btn-primary btn-block">Keep Me Up-to-date</button>
          </form>
        </div>

        <div class="earlier-reports">
          <div class="title">Earlier compliance reports</div>
          <a href="#">Feb 2016 Update &gt;</a>
          <a href="#">Dec 2015 Update &gt;</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/get-started-cta.html %}