<div class="get-started-cta-square">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-24">
          <h2 class="title">Why ScreeningOne is different</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-24 col-md-6 col-md-offset-3">
          <ul>
            <li>
              <div class="small-title">Lorem ipsum dolor</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
            </li>
            <li>
              <div class="small-title">Lorem ipsum dolor</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
            </li>
            <li>
              <div class="small-title">Lorem ipsum dolor</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-xs-24 col-md-12">
          {% include partials/get-started-cta-square-only.html %}
        </div>
      </div>
    </div>
  </div>
</div>