<div class="get-started-cta-square">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-24">
          <h2 class="title">Why ScreeningOne is different</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-24 col-md-6 col-md-offset-3">
          <ul>
            <li>
              <div class="small-title">Lorem ipsum dolor</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
            </li>
            <li>
              <div class="small-title">Lorem ipsum dolor</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
                  Ut enim ad minim veniam, quis nostrud.
                </p>
              </div>
            </li>
            <li>
              <div class="small-title">Lorem ipsum dolor</div>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-xs-24 col-md-12">
          <div class="cta">
            <div class="cta-container">
              <div class="small-title">subtle subtitle</div>
              <h3 class="title">Get Started Today, for FREE</h3>
              <div class="desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore.
                </p>
                <p><a href="#" class="btn btn-default">Contact sales</a></p>
                <p>Call Us 888.327.6511</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>