---
layout: default
pageClass: drug-testing
hero:
  small-title: Solution
  title: Drug testing
  description: >
    Lorem ipsum dolor sit amet, elit consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    <div class="large-bit">Get a <strong>FREE</strong> consultation:
    <strong>888.327.6511</strong></div>
---

{% include partials/hero.html %}
{% include partials/accreditations.html %}

<div class="drug-test-benefits">
  <div class="container">
    <div class="row header">
      <div class="col-xs-24">
        <h2 class="title">About ScreeningOne Drug Testing</h2>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit sed do incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation.
          </p>
          <p><a href="#">View a sample Drug Testing report</a></p>
        </div>
        <hr>
      </div>
    </div>

    <div class="row content">
      <div class="col-xs-24 col-md-12 col-md-push-10">
        <div class="benefits"></div>
      </div>
      <div class="col-xs-24 col-md-8 col-md-offset-2 col-md-pull-12">
        <h2 class="title">Benefits</h2>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do
            incididunt ut.
          </p>
        </div>

        <ul class="download">
          <li><a href="#">ScreeningOne Overview PDF</a></li>
          <li><a href="#">Customer Testimonials PDF</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="drug-test-results">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 col-md-10 col-md-offset-2">
        <img class="img-responsive" src="{% asset_path img/drug-test-results.png %}">
      </div>
      <div class="col-xs-24 col-md-10 col-lg-9 col-lg-offset-1">
        <h2 class="title">Drug Testing Results</h2>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut
          </p>
        </div>
        <blockquote>
          “Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
          lorem ipsum dolor sit amet.”
        </blockquote>
      </div>
    </div>
    <div class="row footer">
      <a href="#" class="btn btn-primary">Start testing now</a>

      <div class="desc">
        <p>See how Drug Testing can benefit you.</p>
        <p><a href="#">Use our ROI calculator</a></p>
      </div>
    </div>
  </div>
</div>

{% include partials/get-started-cta.html %}