---
layout: default
title: Drug Testing
pageClass: drug-testing
hero:
  small-title: COMPREHENSIVE DRUG TESTING
  title: Substance Abuse Problems Identified<br/>Before They Become Your Problems.
  description: >
    The statistics speak clearly.  Substance abuse is rampant.  The impact upon a business only begins with lost time and dollars.
---

{% include partials/hero.html %}
{% include partials/call-us-strip.html %}

<div class="about-drug-testing">
  <div class="container">
    <div class="row header">
      <div class="col-xs-24">
        <h2 class="title">Proven – Reliable – Trusted Reports</h2>
        <div class="desc">
          <p>
            Cost-effective pre-employment screening enables drug-free workers and a safer more secure future for your company. Ongoing screening decreases down time, absenteeism and more.
          </p>
        </div>
      </div>
    </div>
    <div class="about-list">
      <div class="about about-uu">
        <div class="symbol">Ea</div>
        <div class="title">Easy Access</div>

        <div class="desc">
          <p>
            A vast network of service centers for easier test management
          </p>
        </div>
      </div>
      <div class="about about-ur">
        <div class="symbol">Cc</div>
        <div class="title">Custody Chain</div>

        <div class="desc">
          <p>
           Electronic Chain of Custody (COC) ensures privacy and compliance
          </p>
        </div>
      </div>
      <div class="about about-ma">
        <div class="symbol">Ia</div>
        <div class="title">Instant Access</div>

        <div class="desc">
          <p>
            With eScreen RapidResponse you’ll have negative responses in minutes
          </p>
        </div>
      </div>
      <div class="about about-ca">
        <div class="symbol">Fp</div>
        <div class="title">Full Panel</div>

        <div class="desc">
          <p>
            5-12 Panel screens with options for alcohol, hair, daily or instant
          </p>
        </div>
      </div>
      <div class="about about-bc">
        <div class="symbol">Tc</div>
        <div class="title">Total Compliancy</div>

        <div class="desc">
          <p>
            Compliant with all state and federal regulations
          </p>
        </div>
      </div>
      <div class="about about-hc">
        <div class="symbol">Pp</div>
        <div class="title">Professional protection</div>

        <div class="desc">
          <p>
            Professional tests protect customer relationships and company reputation
          </p>
        </div>
      </div>
    </div>
     <div class="row header">
      <div class="col-xs-24">
      <div class="desc"></div>
        <h2 class="title">Comprehensive Implementation and Management</h2>
        <div class="desc">
          <p>
            From our network of service centers, ScreeningOne drug screening programs for applicants and employee coordinate secure specimen collection services, laboratory analysis, physician review and detailed reporting of test results.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include partials/ready-cta.html %}
