<li>
  <div class="title">Getting Started</div>
  <ul class="questions">
    <li>
      <div class="question">What do I do if I forgot my password?</div>
      <div class="answer hidden">
        <p>The main screen has 3 sections:</p>
        <ul>
          <li>
            <p>
              Statement (large box on left side of screen) **remember, this is a
              snapshot of your account as of the statement date so any payments
              received after statement date may not appear on the statement.
            </p>
            <ul>
              <li><p>
                Your total balance duea ppears in bold print at the top of the
                box (as of statement date)
              </p></li>
              <li><p>
                Your current statement appears in this box
              </p></li>
              <li><p>
                You can view your statement by clicking on the “Print” link at
                the top of the box
              </p></li>
              <li><p>
                You can view your invoice by clicking on the invoice number
              </p></li>
              <li><p>
                You can view both your invoice and your billing detail by clicking
                on the PDF icon next to the invoice number
              </p></li>
            </ul>
          </li>

          <li>
            <p>Invoices (top right box)</p>
            <ul>
              <li><p>
                This section lists all of your invoices, the original amount, and amount due.
                <br>**this is where you can see if/what invoices have outstanding amounts
              </p></li>
              <li><p>Click on any invoice number to view, print or save</p></li>
            </ul>
          </li>
          <li>
            <p>Account Activity (bottom right box)</p>
            <ul>
              <li><p>
                This section allows you to view all transactions on your account.
              </p></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="question">What if I cannot remember my username?</div>
      <div class="answer hidden">asd</div>
    </li>
  </ul>
</li>