<li>
  <div class="title">Understanding the billing system</div>
  <ul class="questions">
    <li>
      <div class="question">What am I looking at when I log into the billing system?</div>
      <div class="answer hidden">asd</div>
    </li>
    <li>
      <div class="question">
        How do I get a downloadable and printable version of my Statement,
        Invoice, and Billing Detail?
      </div>
      <div class="answer hidden">asd</div>
    </li>
    <li>
      <div class="question">
        My organization has multiple locations / departments / accounts that
        need to be billed separately, but can I also view the invoice totals
        across the organization?
      </div>
      <div class="answer hidden">asd</div>
    </li>
    <li>
      <div class="question">
        Can I save my invoices to my computer?
      </div>
      <div class="answer hidden">asd</div>
    </li>
    <li>
      <div class="question">
        Can I view previous invoices? And, if so, how long will they be stored
        on your system for me to access?
      </div>
      <div class="answer hidden">asd</div>
    </li>
    <li>
      <div class="question">
        What if I would like my invoice or invoice detail in a different format
        (i.e Excel)?
      </div>
      <div class="answer hidden">asd</div>
    </li>
  </ul>
</li>