<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="proposal">
    <div class="navbar">
      <div class="logo"></div>
    </div>

    <div class="hero">
      <div class="wrapper">
        <h1 class="title">Screen Better &amp; Hire Smarter</h1>
        
        <div class="desc">
          <p>
            ScreeningOne offers a comprehensive suite of screening
            solutions and we have one of the most extensive networks
            of record sources in the industry.
          </p>
        </div>

        <div class="proposal-for">
          <div class="p-container">
            Proposal For:
            <div class="title">{{ page.title }}</div>
            <div class="by">{{ page.author }}</div>
            <div class="proposal-date">Proposal Date: {{ page.proposal_date }}</div>
          </div>
          <div class="p-container">
            <p>{{ page.location }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="about-strip">
      Superior, proven, compliant <strong>screening solutions</strong>.
    </div>
    
    <div class="main-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include partials/color-strip.html %}

    <div class="key-differences">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h2 class="title text-center">The ScreeningOne Story</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-24 col-md-11 col-md-offset-1">
            <div class="small-title">Our Story</div>
            <h3 class="title">Rest Easy. We have you covered.</h3>
            <div class="subtitle">Superior screening for your organization.</div>
            <div class="desc">
              <p>
                In an industry dominated by big database players that too
                often act like it, two things set ScreeningOne apart.
                We’ve built the company from the ground up using best
                practice and customer service.  And our dedication is to
                offer a level of personal service rarely found today.  We
                really are long-term partners committed to growing with
                you and you’ll see it in our friendly people every day. 
              </p>

              <p>
                We aren’t a screening mill and nothing is outsourced –
                ever.  We won’t force your employees into a
                one-size-can’t-possibly-fit-all warehouse approach.
                Customized services help clients of all sizes in all
                industries ensure a safer, more secure, and productive
                environment by looking deeper.  Every search is done
                in-house and our analysts even take ownership of their
                work and sign their reports. 
              </p>

              <p>
                Our fully compliant suite of screening tools identifies
                the widest range of critical information. From criminal
                &amp; civil records, to education and past job
                verification, to substance abuse, corporate records,
                federal searches, and more – we have you covered.
              </p>
            </div>
          </div>

          <div class="col-xs-24 col-md-10 col-md-offset-1">
            <div class="small-title">Our Strengths</div>
            <h3 class="title">What sets us apart</h3>
            <ul class="checklist">
              <li>Broader functionality </li>
              <li>Customized choices</li>
              <li>Industry-best turn-around</li>
              <li>Personalized not outsourced</li>
              <li><strong>Analysts sign every report</strong></li>
            </ul>

            <h3 class="title">Looking to the future</h3>
            <div class="subtitle">Our success hasn't changed - and won't.</div>
            <p>
              We’re big enough for the biggest jobs, yet faithful to our
              original commitment to personal and superior customer
              service, and that will never change.  Call us and you’ll
              talk to a live person, not sent to an automated phone tree.
              Ask a question and you’ll get a straight answer.  Demand
              more value for your budget, and we’ll exceed your
              expectations.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="all-in-one-solution">
      <div class="small-title">All in one solution</div>
      <h2 class="title">A comprehensive suite of screening solutions</h2>
      <div class="desc">
        <p>
          Background checks, verifications and drug testing, We're
          committed to your long-term success, a trusted partner
          that’s in it for the long haul
        </p>
      </div>
      <ul class="steps">
        <li class="step-1"></li>
        <li class="step-1-link"></li>
        <li class="step-2"></li>
        <li class="step-2-link"></li>
        <li class="step-3"></li>
      </ul>
    </div>

    <div class="about-drug-testing">
      <div class="container">
        <div class="row header">
          <div class="col-xs-24">
            <h2 class="title">900% ROI in a climate that looses trillians.</h2>
            <div class="desc">
              <p>
                Nothing is more costly than a bid hire. Bad hires
                and the wrong volunteers erode customer relationships,
                threaten productivity, undermine organizational culture
                and undo good work and reputation. ScreeningOne saves
                you money.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="about about-uu">
              <div class="symbol">$4000</div>
              <div class="title">Employee Acquisition Cost</div>

              <div class="desc">
                <p>
                  The average amount U.S. companies spend to fill an open position.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="about about-ur">
              <div class="symbol">53<small>%</small></div>
              <div class="title">Job Applications with False Data</div>

              <div class="desc">
                <p>
                 3,100 hiring managers surveyed caught caught 53% of
                 job applicants fabricating parts of their resume.
                </p>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="about about-ma">
              <div class="symbol">140<small>k</small></div>
              <div class="title">Cost of Corporate Fraud</div>

              <div class="desc">
                <p>
                  Corporate fraud is estimated to have a median loss
                  of $140,000; 5% of revenues.
                </p>
              </div>
            </div>
          </div>
          <div class="clearfix hidden-xs hidden-sm"></div>
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="about about-ca">
              <div class="symbol">76<small>m</small></div>
              <div class="title">Sanctions by ICE since 2009</div>

              <div class="desc">
                <p>
                  ICE has audited more than 6,000 employers suspected
                  of hiring illegal labor, and imposed sanctions.
                </p>
              </div>
            </div>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="about about-bc">
              <div class="symbol">75<small>%</small></div>
              <div class="title">Abusers Currently Employed</div>

              <div class="desc">
                <p>
                  The Substance Abuse Services Administration
                  reports over 75% of substance abusers are 
                  employed.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="about about-hc">
              <div class="symbol">900<small>%</small></div>
              <div class="title">ScreeningOne ROI</div>

              <div class="desc">
                <p>
                  ScreeningOne clients see a return on investment of up to 900%.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="full-suite-testing-solutions">
      <div class="container">
        <div class="row header">
          <div class="col-xs-24">
            <h2 class="title">The importance of selecting a background screening company that does it RIGHT.</h2>
            <div class="desc">
              <p>
                ScreeningONE, unlike many of our competitors, does NOT
                outsource our analyst and verification work to third
                parties to save money.  Rather, we hire, train,
                supervise and  maintain 100% of our analyst and
                verification work in house, to ensure our protocols
                are followed strictly, and to maintain our internal
                quality control measures.
              </p>
            </div>
          </div>
        </div>

        <div class="row lists">
          <div class="col-xs-24 col-sm-8 col-md-7 col-md-offset-2">
            <div class="featured featured-fcra"></div>
            <div class="title">FCRA<br>Compliance</div>
            <div class="desc">
              <p>
                Failure to comply with the FCRA can result in steep
                fines and penalties, as well as civil and criminal
                lawsuits.  Under the FCRA, statutory penalties of
                $1000 can be imposed for each occurrence of
                non-compliance.
              </p>
            </div>
          </div>
          <div class="col-xs-24 col-sm-8 col-md-7">
            <div class="featured featured-in-house"></div>
            <div class="title">In-house<br>Analysts</div>
            <div class="desc">
              <p>
                We hire, train, supervise and  maintain 100% of our
                analyst and verification work in house, to ensure
                our protocols are followed strictly, and to maintain
                our internal quality control measures.
              </p>
            </div>
          </div>
          <div class="col-xs-24 col-sm-8 col-md-7">
            <div class="featured featured-protecting"></div>
            <div class="title">Protecting<br>Your Liability</div>
            <div class="desc">
              <p>
                More than 40 states allow 3rd parties to bring a
                lawsuit against an employer for negligently hiring
                an employee that causes harm or damage. The stakes
                are high to select the right  background screening
                company.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include partials/accreditations.html %}


    <div class="testimonials-static">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h2 class="title">What our clients are saying:</h2>
            
          </div>
        </div>
        <div class="row static-client">
          <div class="col-xs-24 col-md-12">
            <div class="name"><a href="https://www.vaco.com/">Jami Kelley</a></div>
            <div class="job">Vaco</div>
            <div class="desc"><p>
              "ScreeningOne has been a great tool in helping us with pre-employment screening. Our company is nationwide, so the legal team has also been great in keeping us posted about the changes in various state laws to ensure our compliance. Also, the operations team has been phenomenal in assisting with our never ending requests for customizations.
            </p></div>
          </div>
          <div class="col-xs-24 col-md-12">
            <div class="name"><a href="https://www.frgi.com">Angie Figueredo</a></div>
            <div class="job">Fiesta Restaurant Group</div>
            <div class="desc"><p>
              "Working with them has been a pleasure.  Our industry is very fast paced and it’s important that our applicants experience a seamless process.  They've provided a very easy and streamlined apply and hiring process for us.  The level of customer service is exceptional.  I can always call or email my representative and know that I will get an answer quickly."
            </p></div>
          </div>
        </div>
      </div>
    </div>

    <div class="powerful-features">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h2 class="title">Simple onboaring gives you instant, powerful features</h2>
          </div>
        </div>
        <div class="row features-list">
          <div class="col-xs-24 col-sm-12 col-md-6">
            <div class="icon icon-balance"></div>
            <div class="title">Compliance Review</div>
            <div class="desc">
              <p>
                We ensure that all necessary steps are taken
                to establish your account with screeningONE.
              </p>
            </div>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-6">
            <div class="icon icon-checklist"></div>
            <div class="title">Custom Plan Setup</div>
            <div class="desc">
              <p>
                We identify customization to address the
                unique needs of your organization and sets
                up your account accordingly. 
              </p>
            </div>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-6">
            <div class="icon icon-presentation"></div>
            <div class="title">Training</div>
            <div class="desc">
              <p>
                An experienced member of our operations
                team trains your staff via an online session.
              </p>
            </div>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-6">
            <div class="icon icon-award"></div>
            <div class="title">Quality Check</div>
            <div class="desc">
              <p>
                We review the program to ensure that everything
                has been addressed and makes any modifications
                identified.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pricing-cards">
      <div class="container">
        <div class="row">
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="card">
              <div class="title">Services</div>
              <div class="icon icon-cog"></div>
              <ul class="features">
                <li>Account Setup</li>
                <li>Monthly Minimum</li>
                <li>On-site Inspection</li>
                <li>On-site photography</li>
              </ul>
              <div class="footer">No Charge / Waived</div>
            </div>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="card">
              <div class="title">Recommended Package</div>
              <div class="icon icon-box"></div>
              <ul class="features">
                <li>SSN Trace Report</li>
                <li>National Criminal Report</li>
                <li>Sex Offender Report</li>
                <li>Educational Verification</li>
                <li>7 Year County Criminal</li>
                <li>Employment Verification</li>
                <li>OFAC Global Terrorist Search</li>
              </ul>
              <div class="footer">$39 Per Screening</div>
            </div>
          </div>
          <div class="col-xs-24 col-sm-12 col-md-8">
            <div class="card">
              <div class="title">Executive Package</div>
              <div class="icon icon-award"></div>
              <ul class="features">
                <li>SSN Trace Report</li>
                <li>National Criminal Report</li>
                <li>Sex Offender Report</li>
                <li>Educational Verification</li>
                <li>7 Year County Criminal</li>
                <li>Employment Verification</li>
                <li>OFAC Global Terrorist Search</li>
                <li>Credit Report </li>
                <li>9-10 Panel Drug Screening</li>
              </ul>
              <div class="footer">$69 Per Screening</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="turn-around-time">
      <div class="container">
        <div class="row">
          <div class="col-xs-24">
            <h2 class="title">Turn around Time and Straightforward Pricing</h2>

            <table>
              <thead>
                <tr>
                  <th>Employment Screening a la carte Products</th>
                  <th>Average turn around time</th>
                  <th>Itemized Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Federal Criminal Records Search</td>
                  <td>30 Minutes to Same Day</td>
                  <td>$2.00</td>
                </tr>
                <tr>
                  <td>Social Security I-9 Verification</td>
                  <td>15 Minutes</td>
                  <td>$2.50</td>
                </tr>
                <tr>
                  <td>Motor Vehicle Record Search**</td>
                  <td>Instant in 46 states / Same Day to 24 hrs others</td>
                  <td>$2.75</td>
                </tr>
                <tr>
                  <td>National Wants & Warrants</td>
                  <td>Same Day</td>
                  <td>$4.25</td>
                </tr>
                <tr>
                  <td>Professional References**</td>
                  <td>34 Hours</td>
                  <td>$6.00 each</td>
                </tr>
                <tr>
                  <td>9-10 PANEL Drug Screening**</td>
                  <td>Negative: 24 to 34 hrs. / Positive: 48 to 72 hrs.</td>
                  <td>$31.00</td>
                </tr>
                <tr>
                  <td>State Criminal Records Search**</td>
                  <td>Same Day </td>
                  <td>$7.00</td>
                </tr>
              </tbody>
            </table>

            <div class="desc">
              <p>
                ** Statutory or Additional fees may be imposed with the
                corresponding products and will be billed to the client
                only where applicable as a pass through charge (Fee
                Schedule Available upon Request).
              </p>

              <p>
                <strong>Please note:</strong>  It is screeningONE’s
                standard operating procedure to verify any aliases
                revealed in a Social Security Trace by conducting a
                National Criminal Search on each alias.   This search
                will be charged at a discounted rate of $4.00 per alias.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    piAId = '167622';
    piCId = '1094';
     
    (function() {
    function async_load(){
    var s = document.createElement('script'); s.type = 'text/javascript';
    s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
    var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
    }
    if(window.attachEvent) { window.attachEvent('onload', async_load); }
    else { window.addEventListener('load', async_load, false); }
    })();
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% javascript app async %}
  </body>
</html>
