footer {
  @include font-size(15px);
  text-align: center;
  color: $footer-color;
  padding: 50px 0;

  @media(min-width: $screen-sm-min) {
    text-align: left;
  }

  .logo {
    max-width: 100%;
    width: 230px;
    height: 47px;
    background: url('../images/logo.png') no-repeat center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    @media(min-width: $screen-sm-min) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .description {
    margin-bottom: 30px;
  }

  h2 {
    margin-top: 7px;
    margin-bottom: 32px;
    font-weight: 400;
  }

  a {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: $footer-color;
  }

  .row > div {
    margin-bottom: 30px;
  }
}

.copyright {
  margin-top: 5px;
}