---
layout: default
title: Applicant Tracking
pageClass: applicant-tracking
hero:
  title: Use an Applicant Tracking System and hire the best
  list:
    - Lorem ipsum dolor sit amet consectetur
    - Lorem ipsum dolor sit amet consectetur
    - Lorem ipsum dolor sit amet consectetur
    - Lorem ipsum dolor sit amet consectetur
  description: >
    <a href="#" class="btn btn-primary">Sign up for a free account</a>
---

{% include partials/hero.html %}
{% include partials/call-us-strip.html %}

<div class="about-drug-testing">
  <div class="container">
    <div class="row header">
      <div class="col-xs-24">
        <h2 class="title">About ScreeningOne Applicant Tracking</h2>
        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation. 
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 col-sm-12 col-md-8">
        <div class="about about-uu">
          <div class="symbol">Uu</div>
          <div class="title">Unlimited Users</div>

          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-24 col-sm-12 col-md-8">
        <div class="about about-ur">
          <div class="symbol">Ur</div>
          <div class="title">Unlimited Requisitions</div>

          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-xs-24 col-sm-12 col-md-8">
        <div class="about about-ma">
          <div class="symbol">Ma</div>
          <div class="title">Hiring Manager Access</div>

          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="clearfix hidden-xs hidden-sm"></div>
      <div class="col-xs-24 col-sm-12 col-md-8">
        <div class="about about-ca">
          <div class="symbol">Ca</div>
          <div class="title">Custom Application Form</div>

          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-xs-24 col-sm-12 col-md-8">
        <div class="about about-bc">
          <div class="symbol">Bc</div>
          <div class="title">Branding Career Page</div>

          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-24 col-sm-12 col-md-8">
        <div class="about about-hc">
          <div class="symbol">Hc</div>
          <div class="title">Hiring Collaboration</div>

          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer">
      <div class="col-xs-24 text-center">
        <div class="btn btn-primary">Sign up for a free account</div>
      </div>
    </div>
  </div>
</div>

{% include partials/ready-cta.html %}